{% include "hotels/header.html" %}
<div class="container">
    <button><a href="/hotel_detail/{{hotel_id.id}}/delete/">Удалить</a></button>
    <button><a href="/hotel_detail/{{hotel_id.id}}/update/">Изменить</a></button>
    <h1>Полная информация о гостинице: <br>{{hotel_id.title}}</h1>
    <p><em>{{hotel_id.description}}</em></p>
    <img src="{{ hotel_id.image }}" alt="{{hotel_id.title}}" width="550" height="300">
    <p>Цена: {{hotel_id.price}}</p>
    <p>Город: {{hotel_id.city}}</p>
    <p>Страна: {{hotel_id.country}}</p>
    <p>Рейтинг: {{hotel_id.rating}}</p>
    <p>Адрес: {{hotel_id.address}}</p>
    <p>Почта: {{hotel_id.email}}</p>
    <p>Номер: {{hotel_id.number}}</p>
    <p>Скидка по приглашению: {{hotel_id.discount}}</p>
    <p>Дата добавления: {{hotel_id.created_at}}</p>
    <p>Дата обновления: {{hotel_id.updated_at}}</p>
    <h2>Коменты</h2>
    <ul>
        {% for i in hotel_id.review_hotels.all %}
        <li>
            <h3>{{i.text}}</h3>
            <p>{{i.created_at}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% include "hotels/footer.html" %}

